<h3 matDialogTitle>
  {{ data.title }}
</h3>

<form [formGroup]="responsibleForm" autocomplete="off">
  <mat-dialog-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <mat-card class="mat-card-background" fxFlex="100">         
        <mat-card-content class="mat-card-body p-3">
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
            <div fxFlex="100">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="Nome completo"
                  [formControl]="responsibleForm.controls['unity_aspect_responsible_name']"
                >
              </mat-form-field>
            </div>
            <div fxFlex="100">
              <mat-form-field class="full-width">
                <input
                  matInput
                  placeholder="E-mail"
                  [formControl]="responsibleForm.controls['unity_aspect_responsible_email']"
                >
              </mat-form-field>
            </div>
            

            <!-- system managment and aspects panel  -->
            <mat-card class="mat-card-background">
              <mat-card-header class="mat-card-titulo2">
                <span class="mat-card-titulo">Sistemas de gestão associados</span><span class="mat-card-titulo" fxFlex></span>
              </mat-card-header>
        
              <mat-card-content class="mat-card-body">
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
                  <div fxFlex="100" class="mt-1">
                    <mat-accordion class="example-headers-align" multi>
                      <mat-expansion-panel *ngFor="let areaWithAspect of areasWithAspects">
                        <mat-expansion-panel-header>
        
                          <mat-panel-description>
                            <mat-icon>check_circle_outline</mat-icon>
                            {{areaWithAspect.area_name}}
                          </mat-panel-description>
        
                        </mat-expansion-panel-header>
                        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
                          <div fxFlex="25" class="pr-1">
                            <mat-checkbox color="primary" (change)="toggleAll(areaWithAspect, $event)">
                              TODOS
                            </mat-checkbox>
                          </div>
        
                          <div fxFlex="25" class="pr-1" *ngFor="let aspect of areaWithAspect.aspects">
                            <mat-checkbox color="primary" [checked]="isCheckedAspect(aspect)" (change)="toggleAspect(aspect, $event)">
                              {{aspect.area_aspect_name}}
                            </mat-checkbox>
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>    
            <!-- system managment and aspects panel  -->


            <div fxFlex="100" class="mt-2">
              <button mat-raised-button class="mat-primary" type="button" (click)="addResponsible()" [disabled]="responsibleForm.invalid || aspectInvalid" >
                Add to List
              </button>
            </div>
          </div>        
        </mat-card-content>
      </mat-card>

      <mat-card class="mat-card-background" fxFlex="100">     
        <mat-card-content class="mat-card-body p-3">
          <ngx-datatable class="material full-width" [rows]="responsibles" [columnMode]="'standard'" [headerHeight]="35" [footerHeight]="0"
            [rowHeight]="'35'" [scrollbarH]="true" [messages]="{ emptyMessage: '' }" >

            <ngx-datatable-column name="NOME" [flexGrow]="0" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row['unity_aspect_responsible_name'] }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="EMAIL" [flexGrow]="0" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row['unity_aspect_responsible_email'] }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="AREA" [flexGrow]="0" >
              <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-icon [matTooltip]="row.tooltip" matTooltipPosition="after" class="cursor-pointer tooltip-msg" >info</mat-icon>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="DELETE" [flexGrow]="0">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button mat-sm-button color="warn" (click)="removeResponsible(row)">
                  <mat-icon>delete</mat-icon>
                </button>
              </ng-template>
            </ngx-datatable-column>

          </ngx-datatable>      
        </mat-card-content>
      </mat-card>
    </div>
  </mat-dialog-content>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
      <span fxFlex></span>
      <button mat-raised-button class="mat-primary" type="button" (click)="save()"
      [disabled]="(responsibles.length === 0 && deletedResponsibles.length === 0) || (currentUser.role !== roles.admin || currentUser.user_profile_type !== profile.gestor)"
        >Gravar</button>
      <span fxFlex></span>
    </div>
  </div>
</form>