<h3 matDialogTitle>
  {{data.title}}</h3>

<form [formGroup]="unityForm" autocomplete="off">
  <mat-dialog-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="40" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="unityForm.controls['customer_group_id']" placeholder="Grupo *">
            <mat-option *ngFor="let customer_group of customers_groups" [value]="customer_group.customer_group_id">
              {{customer_group.customer_group_name}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="10" class="pr-1">
        <mat-chip-list aria-label="Fish selection">          
          <mat-chip color="primary" selected (click)="newGroupForm()">Novo</mat-chip>          
        </mat-chip-list>


      </div>

      <div fxFlex="40" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select [formControl]="unityForm.controls['customer_id']" placeholder="Matriz *">
            <mat-option *ngFor="let customer of customers" [value]="customer.customer_id">
              {{customer.customer_business_name}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxFlex="10" class="pr-1">
        <mat-chip-list aria-label="Fish selection">          
          <mat-chip color="primary" selected (click)="newCustomerForm()">Novo</mat-chip>          
        </mat-chip-list>
      </div>
    </div>

    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2" >
        <span class="mat-card-titulo">Dados da Unidade</span><span class="mat-card-titulo" fxFlex></span>
      </mat-card-header>
      
        <mat-card-content class="mat-card-body" >
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">

            <div fxFlex="60" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="customer_unity_name" [formControl]="unityForm.controls['customer_unity_name']"
                  placeholder="Unidade *" maxlength="50" upperCase>
              </mat-form-field>
            </div>

            <div fxFlex="40" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="customer_cnpj" [formControl]="unityForm.controls['customer_unity_cnpj']"
                  placeholder="CNPJ *" maxlength="20" upperCase mask="00.000.000/0000-00">
              </mat-form-field>
            </div>

            <div fxFlex="20" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="customer_unity_cep" [formControl]="unityForm.controls['customer_unity_cep']"
                  placeholder="CEP *" maxlength="9" upperCase mask="00000-000" (change)="getCep()">
              </mat-form-field>
            </div>

            <div fxFlex="20" class="pr-1">
              <mat-form-field class="full-width" style="pointer-events: none;">
                <mat-select [formControl]="unityForm.controls['customer_unity_uf_id']" placeholder="UF *">
                  <mat-option *ngFor="let state of states" [value]="state.state_id">
                    {{state.state_name}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>            


            <div fxFlex="60" class="pr-1">
              <mat-form-field class="full-width" style="pointer-events: none;">
                <mat-select [formControl]="unityForm.controls['customer_unity_city_id']" placeholder="Cidade *" >
                  <mat-option *ngFor="let city of cities" [value]="city.city_id">
                    {{city.city_name}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>          

            <div fxFlex="100" class="pr-1">
              <mat-form-field class="full-width">
                <textarea matInput upperCase placeholder="Endereço *" name="customer_unity_address" [formControl]="unityForm.controls['customer_unity_address']"></textarea>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      
    </mat-card>    

    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Contato do Responsável</span><span class="mat-card-titulo" fxFlex></span>
      </mat-card-header>
      
        <mat-card-content class="mat-card-body">

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="responsavel" [formControl]="unityForm.controls['unity_contact_name']"
                  placeholder="Responsável *" maxlength="50" upperCase>
              </mat-form-field>
            </div>

            <div fxFlex="50" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="email" [formControl]="unityForm.controls['unity_contact_email']"
                  placeholder="Email *" maxlength="100" upperCase>
              </mat-form-field>
            </div>

            <div fxFlex="100" class="pr-1">
              <mat-form-field class="full-width">
                <input matInput name="telefones" [formControl]="unityForm.controls['unity_contact_phone']"
                  placeholder="Telefones *" maxlength="25" upperCase>
              </mat-form-field>
            </div>          

            <div fxFlex="100" class="pr-1">
              <mat-form-field class="full-width">
                <textarea matInput upperCase placeholder="Observações" maxlength="200"  [formControl]="unityForm.controls['unity_contact_observation']"></textarea>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      
    </mat-card> 
    
    <mat-card class="mat-card-background">
      <mat-card-header class="mat-card-titulo2">
        <span class="mat-card-titulo">Sistemas de gestão associados</span><span class="mat-card-titulo" fxFlex></span>
      </mat-card-header>

      <mat-card-content class="mat-card-body">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
          <div fxFlex="100" class="mt-1">
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel *ngFor="let areaWithAspect of areasWithAspects">
                <mat-expansion-panel-header>

                  <mat-panel-description>
                    <mat-icon>check_circle_outline</mat-icon>
                    {{areaWithAspect.area_name}}
                  </mat-panel-description>

                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
                  <div fxFlex="25" class="pr-1">
                    <mat-checkbox color="primary" (change)="toggleAll(areaWithAspect, $event)">
                      Todos
                    </mat-checkbox>
                  </div>

                  <div fxFlex="25" class="pr-1" *ngFor="let aspect of areaWithAspect.aspects">
                    <mat-checkbox color="primary" [checked]="aspect.status=='S'">
                      {{aspect.area_aspect_name}}
                    </mat-checkbox>
                  </div>
                </div>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </mat-card-content>
    </mat-card>    
  </mat-dialog-content>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <span fxFlex *ngIf="!this.data.new"></span>
      <button mat-raised-button color="accent" type="button" (click)="deleteUnity()"
        *ngIf="!this.data.new">Excluir</button>
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
      <span fxFlex></span>
      <button mat-raised-button class="mat-primary" type="button" (click)="saveUnity()"
      [disabled]="unityForm.invalid"
        >Gravar</button>
      <span fxFlex></span>
    </div>
  </div>
</form>