<app-grade 
  [Colunas]= "columns"
  [Linhas] = "rows" 
  [BtnAction]="true"
  [BtnEditar]="false" 
  [BtnDeletar]="false"
  [BtnIncluir]="false"
  [CamposBusca]="configSearch"
  [Expansible]="true"
  [check]="true"
  [actionButton]="true"
  actionButtonCaption="Registrar Auditoria"
  PropertyToExpanse="document_item_description"
  (IncluirRegistro)="openForm('', true)"
  (EditarRegistro)="openForm($event.registro, false)"
  (PesquisarRegistro)="getDocuments($event.parametro)" 
  (actionButtonEvent)="openForm('', true)" 
  (ActionRegistro)="handleActionPlan($event.registro)"
  [MostrarBarraBusca]="true">  
</app-grade>