<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100">
    <mat-card class="default">
      <mat-card-title class="">
        
        
      </mat-card-title>
      <!-- <mat-card-subtitle>Previsto vs Realizado</mat-card-subtitle> -->
      <mat-card-content class="p-0" [style.height]="'90%'">
        <p style="font-size: 36px; margin: 20px;text-align: center">Bem vindo a Unity</p>
        <br/>
        <br/>
        <div fxLayout="row" fxLayoutWrap="wrap" style="justify-content: center;height: 100%;">
          <img src="assets/images/logo_unity.png" alt="" class="app-logo" [routerLink]="['/home']"/>
        </div>
        <br/>
        <br/>
        
        
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Fullwidth chart -->