<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/R926LU1YEA.jpg">
  </div>
  <div fxFlex="20%">
    <img mat-card-image class="img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/U9PP3KXXY2.jpg">
  </div>
</div>
<!-- 
<mat-form-field class="search-form">
  <input matInput placeholder="Search Picture" type="text">
</mat-form-field>
<button button="submit" mat-raised-button color="primary">Search</button>
<br>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="card-picture" *ngFor="let picture of pictures">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="80%">{{picture.title}}</span>
      <mat-icon fxFlex="10%">mode_edit</mat-icon>
      <mat-icon fxFlex="10%">delete</mat-icon>
    </mat-card-title>
    <img mat-card-image [src]="picture.img">
  </mat-card>
</div> -->