<h3 matDialogTitle>
  {{ data.title }}
</h3>

<form [formGroup]="user" autocomplete="off">
  <mat-dialog-content>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
      <div fxFlex="100">

        <p class="d-flex flex-wrap">
          <mat-label class="mb-2">Account type</mat-label>
          <mat-radio-group 
            class="full-width" 
            [(formControl)]="user.controls['user_role']"
          >
            <mat-radio-button *ngIf="currentUser.role === roles.admin" [value]="roles.admin" >Admin</mat-radio-button>
            <mat-radio-button [value]="roles.client" class=" pl-1">Client</mat-radio-button>
          </mat-radio-group>
        </p>
        
        <p *ngIf="user.value.user_role !== roles.admin">
          <mat-form-field class="full-width" required>
            <mat-label>Selecione o cliente</mat-label>
            <mat-select [formControl]="user.controls['customer_id']">
              <mat-option *ngFor="let c of customers" [value]="c.customer_id">
                {{ c.customer_business_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="full-width">
            <mat-label>Nome completo</mat-label>
            <input
              matInput
              name="user_name"
              [formControl]="user.controls['user_name']">
            <mat-error
              *ngIf="user.controls['user_name'].hasError('required') && user.controls['user_name'].touched" >
              Name is required
            </mat-error>
          </mat-form-field>            
        </p>

        <p>
          <mat-form-field class="full-width">
            <mat-label>E-mail (login)</mat-label>
            <input
              matInput
              type="email"
              name="user_email"
              [formControl]="user.controls['user_email']">
            <mat-error 
              *ngIf="user.controls['user_email'].hasError('required') && user.controls['user_email'].touched"> Email é obrigatório. </mat-error>

            <mat-error 
              *ngIf="user.controls['user_email'].hasError('email') && user.controls['user_email'].touched"> Email inválido </mat-error>
          </mat-form-field>
          
        </p>

        <p *ngIf="data.new" class="d-flex align-items-center">
            <mat-icon aria-hidden="false" aria-label="Icon" class="size-small">info</mat-icon>&nbsp;
            <small>A senha será enviada para o e-mail informado acima.</small>
        </p>

        <p *ngIf="!data.new" class="mb-2">
            <a mat-button (click)="resetPassword()">Gerar nova senha e enviar por e-mail (reset)</a>
        </p>
        
        <p class="d-flex flex-wrap">
          <mat-label class="mb-2">Perfil de acesso</mat-label>
          <mat-radio-group 
            class="full-width" 
            [(formControl)]="user.controls['user_profile_type']"
          >
            <mat-radio-button [value]="profile.gestor" >Gestor</mat-radio-button>
            <mat-radio-button [value]="profile.operacional" class=" pl-1">Operacional</mat-radio-button>
          </mat-radio-group>
        </p>
      </div>
    </div>    
  </mat-dialog-content>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" class="mat-dialog-content">
    <div fxFlex="100" class="mt-1">
      <span fxFlex *ngIf="!this.data.new"></span>
      <button mat-raised-button color="accent" type="button" (click)="deleteUser()" *ngIf="!this.data.new" [disabled]="currentUser.role !== roles.admin || currentUser.user_profile_type !== profile.gestor">Excluir</button>    
      <span fxFlex *ngIf="!this.data.new"></span>
      <button mat-raised-button [color]="user.value.is_disabled == 1 ? 'primary' : 'warn'" type="button" (click)="disableUser()" *ngIf="!this.data.new" [disabled]="currentUser.role !== roles.admin || currentUser.user_profile_type !== profile.gestor">
        {{ user.value.is_disabled == 1 ? "Active" : "Desabilitar" }}
      </button>  
      <span fxFlex></span>
      <button mat-raised-button color="warn" type="button" (click)="dialogRef.close('NOK')">Cancelar</button>
      <span fxFlex></span>
      <button mat-raised-button class="mat-primary" type="button" (click)="saveUser()" [disabled]="currentUser.role !== roles.admin || currentUser.user_profile_type !== profile.gestor"
        [disabled]="user.invalid">Gravar</button>
      <span fxFlex></span>
    </div>
  </div>
</form>