<div>
  <mat-toolbar color="primary" style="height: 40px;">
    <div fxFlex class="search-bar" style="height: 80%" *ngIf="(MostrarBarraBusca===true)">
      <form class="top-search-form" [formGroup]="buscarForm" autocomplete="off" #buscadorForm>
        <mat-icon role="img" style="cursor:pointer;" (click)="showFinderToggle()">search</mat-icon>
        <input autofocus="true" placeholder="Procurar" type="text" style="height: 95%; padding: 0 0 0 10px;"
          (click)="showFinderToggle()" class="txtFinder" #txtFinder readonly>
        <mat-dialog-content class="corpo" style="all:initial">
          <div *ngIf="(formReady)">
            <div [ngClass]="finderPanel? 'dropdown-content show': 'dropdown-content'">
              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" style="padding: 10px; font-size: 13px">
                <div fxFlex="50" class="pr-1" *ngFor='let campo of CamposBusca'>
                  <mat-form-field class="full-width" *ngIf="(campo.tipoCampo =='string')">
                    <input matInput name="campo.nomeCampo" [placeholder]="campo.labelCampo"
                      [maxLength]="campo.maxLengthCampo" [mask]="campo.maskCampo" upperCase type="text"
                      [formControl]="buscarForm.controls[campo.nomeCampo]" [readonly]="campo.disabled">
                    <button mat-button *ngIf="buscarForm.controls[campo.nomeCampo]" matSuffix mat-icon-button
                      aria-label="Limpar" (click)="buscarForm.controls[campo.nomeCampo].setValue('')" [disabled]="campo.disabled">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>

                  <mat-form-field class="full-width" *ngIf="campo.tipoCampo=='DATA' ">
                    <input matInput [name]="campo.nomeCampo" [placeholder]="campo.labelCampo"
                      [maxLength]="campo.maxLengthCampo" [mask]="campo.maskCampo" upperCase type="date"
                      [formControl]="buscarForm.controls[campo.nomeCampo]" [readonly]="campo.disabled">
                    <button mat-button *ngIf="buscarForm.controls[campo.nomeCampo]" matSuffix mat-icon-button
                      aria-label="Limpar" (click)="buscarForm.controls[campo.nomeCampo].setValue('')" [disabled]="campo.disabled">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>

                  <mat-form-field class="full-width" *ngIf="campo.tipoCampo=='LIST' ">
                    <mat-select [formControl]="buscarForm.controls[campo.nomeCampo]" [placeholder]="campo.labelCampo" [disabled]="campo.disabled">
                      <mat-option *ngFor="let item of campo.lista" [value]="item[campo.fieldValue]" [disabled]="campo.disabled">
                        {{item[campo.fieldText]}} </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
                <div fxFlex="100" class="mt-1">
                  <span fxFlex></span>
                  <button mat-raised-button color="warn" type="button"
                    (click)="finderPanel=!finderPanel">Fechar</button>
                    <span fxFlex></span>
                    <button mat-raised-button color="accent" type="button"
                      (click)="clear()">Limpar filtros</button>                    
                  <span fxFlex></span>
                  <button mat-raised-button class="mat-primary" type="button" (click)="Pesquisar()">Procurar</button>
                  <span fxFlex></span>
                </div>
              </div>

            </div>
          </div>
        </mat-dialog-content>
      </form>
    </div>
    <span fxFlex *ngIf="(MostrarBarraBusca===false)">Pedidos liberados</span>
    <button mat-icon-button [matMenuTriggerFor]="ColunasMenu">
      <mat-icon>filter_list</mat-icon>
    </button>

    <mat-menu #ColunasMenu="matMenu">
      <button mat-menu-item *ngFor='let coluna of AuxColunas' (click)="$event.stopPropagation();">
        <mat-checkbox [checked]='true' (click)='Alternar(coluna)'></mat-checkbox>{{" "+coluna.Titulo}}
      </button>
      <button mat-menu-item>
        <mat-icon>close</mat-icon>Fechar
      </button>
    </mat-menu>

    <button mat-icon-button (click)="Incluir()" *ngIf="(BtnIncluir ===true)">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>  

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" style="padding-left: 20px;margin-top: 10px;" *ngIf="(showFilter)">
      <mat-chip-list aria-label="Fish selection" *ngFor='let campo of CamposBusca'>
        <mat-chip *ngIf="(buscarForm.controls[campo.nomeCampo].value)">{{campo.labelCampo}} : {{buscarForm.controls[campo.nomeCampo].value}}</mat-chip>        
      </mat-chip-list>
  </div>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap" style="padding-left: 20px;" *ngIf="(actionButton)">
    <div fxFlex="20" class="pr-1" style="margin-top: 20px;">
      <button mat-raised-button class="mat-primary" type="button"
        (click)="actionButtonClick()" [disabled]="!ActionButtonStatus">{{actionButtonCaption}}</button>
    </div>
  </div>

  <div style="margin-top: 10px;">
    <ngx-datatable class="material striped" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
      [rowHeight]="'auto'" [limit]="10" [rows]="Linhas" [messages]="{emptyMessage: 'Nenhuma informação encontrada'}"
      [scrollbarH]="true" #myTable>

      <!-- Row Detail Template -->
      <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div style="padding-left:35px;">
            <fieldset style="border-radius:10px;background-color: white;">
              <legend style="padding-left:-10px; padding-right:-36px; margin-left:-8px; background-color: white;">
                Descrição</legend>
              <p>{{ (row[PropertyToExpanse]) }}</p>
            </fieldset>
            <!-- <div><strong>Descrição</strong></div>
          <div>{{ (row[PropertyToExpanse]) }}</div> -->
          </div>
        </ng-template>
      </ngx-datatable-row-detail>

      <!-- Column Templates -->
      <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
        [canAutoResize]="false" *ngIf="(Expansible)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded"
            title="Expand/Collapse Row" (click)="toggleExpandRow(row)">
          </a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column [width]="20" *ngIf="(check)">
        <ng-template let-row="row" let-index="rowIndex" ngx-datatable-cell-template>
          <mat-checkbox (change)="onCheck(index, $event)" [checked]="isCheckedRow(index)"></mat-checkbox>
        </ng-template>
      </ngx-datatable-column>

      <!-- [prop]="coluna.Propriedade" -->
      <!-- <div > -->
      <ngx-datatable-column [name]="coluna.Titulo" [prop]="coluna.Propriedade" [width]="coluna.Largura"
        *ngFor="let coluna of Colunas">
        <ng-template let-row="row" ngx-datatable-cell-template
          *ngIf="(coluna.Imagem == null || coluna.Imagem == false)">
          {{ coluna.Tipo =="DATA" ?
          (row[coluna.Propriedade]|date:"dd/MM/yyyy"): (coluna.Render ? (
            coluna.Render(row[coluna.Propriedade]) 
          ) : (
            row[coluna.Propriedade] ? row[coluna.Propriedade].toString().substring(0,50) : ""
          )) }}

        </ng-template>

        <ng-template let-row="row" ngx-datatable-cell-template *ngIf="coluna.Imagem==true">
          <div style="text-align: center;">
            <mat-icon (click)="openPopup(row[coluna.Propriedade])">image</mat-icon>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <!-- </div> -->

      <!-- <div > -->
        <ngx-datatable-column name="Plano de ação" [flexGrow]="0" [width]="200" *ngIf="(BtnAction)">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button *ngIf="(BtnAction)" mat-raised-button mat-sm-button color="primary" class="mr-1"
              (click)="onAction(row)">
              Plano de ação
            </button>
          </ng-template>
        </ngx-datatable-column>
        <!-- </div> -->

      <!-- <div > -->
      <ngx-datatable-column name="Responsible" [flexGrow]="0" [width]="50" *ngIf="(BtnResponsible)">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button *ngIf="(BtnResponsible)" mat-icon-button mat-sm-button color="primary" class="mr-1"
            (click)="onResponsible(row)">
            <mat-icon>manage_accounts</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
      <!-- </div> -->

      <!-- <div > -->
      <ngx-datatable-column name="Editar" [flexGrow]="0" [width]="50" *ngIf="(BtnEditar===true && !viewOnly)">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button *ngIf="(BtnEditar ===true)" mat-icon-button mat-sm-button color="primary" class="mr-1"
            (click)="Editar(row)">
            <mat-icon>edit</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
      <!-- </div> -->

      <!-- <div > -->
      <ngx-datatable-column name="Visualizar" [flexGrow]="0" [width]="50" *ngIf="(BtnEditar===true && viewOnly)">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button *ngIf="(BtnEditar ===true)" mat-icon-button mat-sm-button color="primary" class="mr-1"
            (click)="Editar(row)">
            <mat-icon>search</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
      <!-- </div> -->

      <!-- <div > -->
      <ngx-datatable-column name="Excluir" [flexGrow]="0" [width]="50" *ngIf="(BtnDeletar===true)">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button *ngIf="(BtnDeletar ===true)" mat-icon-button mat-sm-button color="warn" (click)="Excluir(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
      <!-- </div> -->
    </ngx-datatable>

  </div>
</div>
<!-- <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
  <div fxFlex="100" class="mt-1" style="padding-left: 10px;">
    <button mat-raised-button class="mat-primary" (click)="Exportar()">Exportar dados</button>
    <span fxFlex></span>
  </div>
</div> -->